<div class="h-20"></div>
<!-- ### INVITE CARD SECTION -->
<!-- set a default spacer to render the card in -->
<div class="container">
  <div class="flex justify-center">
    <div class="card bg-paper-texture items-center relative w-[375px]">
      <div
        class="absolute w-[335px] h-[250px] border-india-green bg-invite-card bg-cover border-4"
      ></div>
      <div
        class="z-10 w-[335px] h-[250px] flex flex-col items-center font-kobe font-bold"
      >
        <div class="text-india-orange text-5xl py-2 pt-8">SCHEDULE</div>
        <div class="text-india-orange text-5xl py-2">OF</div>
        <div class="text-india-orange text-5xl py-2">EVENTS</div>
      </div>
    </div>
  </div>
</div>
<div
  class="w-full flex justify-center font-kobe text-india-orange -my-12 py-16 bg-paper-texture pb-16"
>
  <div class="flex justify-center max-w-[750px]">
    <div class="timeline hind-mysuru-regular text-india-black px-8">
      <div class="timeline-entry timeline-right timeline-empty">
        <div class="timeline-entry-content">
          <div class="text-4xl font-kobe text-india-orange font-bold">
            Tuesday, Nov 25
          </div>
        </div>
      </div>
      <div class="timeline-entry timeline-right">
        <div class="timeline-entry-content">
          <div class="text-3xl font-kobe text-india-orange">
            Check-in and Welcome Lunch
          </div>
          <div class="text-2xl font-kobe text-india-orange">2 PM onwards</div>
          <div class="text-lg pt-2"><b>Attire:</b> Casual</div>
          <div class="text-lg flex items-self-start">
            <div class="text-center"><b>Dance level:</b></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="timeline-entry timeline-empty timeline-right">
        <div class="timeline-entry-content h-16">
          <div class="h-8"></div>
        </div>
      </div>
      <div class="timeline-entry timeline-right">
        <div class="timeline-entry-content">
          <div class="text-3xl text-india-orange font-kobe">Sangeet</div>
          <div class="text-2xl text-india-orange font-kobe">7 PM - 10 PM</div>
          <div class="text-lg pt-2">
            <b>Attire:</b> Colorful Indian or formal Western
          </div>
          <div class="text-lg flex items-self-start">
            <b>Dance level:</b>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="timeline-entry timeline-right timeline-entry-end">
        <div class="timeline-entry-content">
          <div class="text-3xl text-india-orange font-kobe">After party</div>
          <div class="text-2xl text-india-orange font-kobe">10 PM - ?</div>
          <div class="text-lg pt-2"><b>Attire:</b> Stylin'</div>
          <div class="text-lg flex items-self-start">
            <b>Dance level:</b>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>

      <div class="py-16 h-4 w-full flex justify-evenly">
        <div
          class="bg-leaf-divider bg-contain w-[80px] h-[30px] bg-no-repeat"
        ></div>
      </div>

      <!-- WEDNESDAY -->
      <div class="timeline-entry timeline-right">
        <div class="timeline-entry-content">
          <div class="text-4xl font-bold font-kobe text-india-orange">
            Wednesday, Nov 26
          </div>
        </div>
      </div>
      <div class="timeline-entry timeline-right">
        <div class="timeline-entry-content">
          <div class="text-3xl font-kobe text-india-orange">Breakfast</div>
          <div class="text-2xl font-kobe text-india-orange">8 AM - 10 AM</div>
          <div class="text-lg pt-2"><b>Attire:</b> Casual</div>
          <div class="text-lg flex items-self-start">
            <b>Dance level:</b>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="timeline-entry timeline-right">
        <div class="timeline-entry-content">
          <div class="text-3xl font-kobe text-india-orange">Mehndi & Lunch</div>
          <div class="text-2xl font-kobe text-india-orange">
            11 AM - 1:30 PM
          </div>
          <div class="text-lg pt-2">
            <b>Attire:</b> Colorful linens or casual Indian
          </div>
          <div class="text-lg flex items-self-start">
            <b>Dance level:</b>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>

      <div class="timeline-entry timeline-right timeline-empty">
        <div class="timeline-entry-content">
          <div class="h-16"></div>
        </div>
      </div>

      <div class="timeline-entry timeline-right">
        <div class="timeline-entry-content">
          <div class="text-3xl font-kobe text-india-orange">Baraat</div>
          <div class="text-2xl font-kobe text-india-orange">
            4:30 PM - 5:30 PM
          </div>
          <div class="text-lg pt-2">
            <b>Attire:</b> Colorful Indian or formal Western
          </div>
          <div class="text-lg flex items-self-start">
            <b>Dance level:</b>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>

      <div class="timeline-entry timeline-right">
        <div class="timeline-entry-content">
          <div class="text-3xl font-kobe text-india-orange">
            Jaimala & Ceremony
          </div>
          <div class="text-2xl font-kobe text-india-orange">5:30 PM - 7 PM</div>
          <div class="text-lg flex items-self-start">
            <b>Dance level:</b>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>

      <div class="timeline-entry timeline-right">
        <div class="timeline-entry-content">
          <div class="text-3xl font-kobe text-india-orange">Reception</div>
          <div class="text-2xl font-kobe text-india-orange">7 PM - 10 PM</div>
          <div class="text-lg flex items-self-start">
            <b>Dance level:</b>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>

      <div class="timeline-entry timeline-right timeline-entry-end">
        <div class="timeline-entry-content">
          <div class="text-3xl font-kobe text-india-orange">
            After party (pt. 2)
          </div>
          <div class="text-2xl font-kobe text-india-orange">10 PM - ?</div>
          <div class="text-lg pt-2"><b>Attire:</b> Stylin'</div>
          <div class="text-lg flex items-self-start">
            <b>Dance level:</b>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>

      <div class="py-16 h-4 w-full flex justify-evenly">
        <div
          class="bg-leaf-divider bg-contain w-[80px] h-[30px] bg-no-repeat"
        ></div>
      </div>

      <!-- THURSDAY -->
      <div class="timeline-entry timeline-ri sm:timeline-left">
        <div class="timeline-entry-content">
          <div class="text-4xl font-bold font-kobe text-india-orange">
            Thursday, Nov 27
          </div>
        </div>
      </div>

      <div class="timeline-entry timeline-right">
        <div class="timeline-entry-content">
          <div class="text-3xl font-kobe text-india-orange">Breakfast</div>
          <div class="text-2xl font-kobe text-india-orange">8 AM - 10 AM</div>
          <div class="text-lg pt-2"><b>Attire:</b> Casual</div>
          <div class="text-lg flex items-self-start">
            <b>Dance level:</b>
            <div
              class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
            ></div>
          </div>
        </div>
      </div>

      <div class="timeline-entry timeline-right timeline-entry-end">
        <div class="timeline-entry-content">
          <div class="text-3xl font-kobe text-india-orange">Checkout</div>
          <div class="text-2xl font-kobe text-india-orange">11 AM</div>
        </div>
      </div>
      <div class="py-16 h-4 w-full flex justify-evenly">
        <div
          class="bg-leaf-divider bg-contain w-[80px] h-[30px] bg-no-repeat"
        ></div>
      </div>
    </div>
  </div>
</div>
