<div class="h-20"></div>
<!-- ### INVITE CARD SECTION -->
<!-- set a default spacer to render the card in -->
<div class="container">
  <div class="flex">
    <div
      class="card flex-grow bg-paper-texture items-center relative max-w-[500px] mx-auto"
    >
      <div
        class="absolute max-h-[300px] min-h-[250px] min-w-[350px] max-w-[400px] border-india-green bg-invite-card bg-cover border-4"
      ></div>
      <div
        class="z-10 max-h-[300px] min-h-[250px] min-w-[350px] max-w-[400px] flex flex-col items-center font-kobe font-bold"
      >
        <div class="text-india-orange text-5xl py-2 pt-8">SCHEDULE</div>
        <div class="text-india-orange text-5xl py-2">OF</div>
        <div class="text-india-orange text-5xl py-2">EVENTS</div>
      </div>
    </div>
  </div>
</div>
<div
  class="container font-kobe text-india-orange px-8 max-w-[500px] bg-paper-texture pb-16"
>
  <div class="timeline hind-mysuru-regular text-india-black">
    <div class="timeline-entry timeline-right timeline-empty">
      <div class="timeline-entry-content">
        <div class="text-4xl font-kobe text-india-orange font-bold">
          Tuesday, Nov 25
        </div>
      </div>
    </div>
    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-3xl font-kobe text-india-orange">
          Check-in and Welcome Lunch
        </div>
        <div class="text-2xl font-kobe text-india-orange">1 PM - 3 PM</div>
        <div class="text-lg pt-2"><b>Attire:</b> Casual</div>
        <div class="text-lg flex items-self-start">
          <div class="text-center"><b>Dance level:</b></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
        </div>
        <div class="text-lg pt-2">
          We look forward to welcoming you at the hotel. After checking in to
          your room, come enjoy a meal with us to recover from your travels!
        </div>
      </div>
    </div>
    <div class="timeline-entry timeline-empty timeline-right">
      <div class="timeline-entry-content h-16">
        <div class="h-8"></div>
      </div>
    </div>
    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-3xl text-india-orange font-kobe">Sangeet</div>
        <div class="text-2xl text-india-orange font-kobe">6PM - 10PM</div>
        <div class="text-lg pt-2"><b>Attire:</b> Formal</div>
        <div class="text-lg flex items-self-start">
          <b>Dance level:</b>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
        </div>
        <div class="text-lg pt-2">
          The sangeet is a pre-wedding party held to celebrate the couple. There
          will be dance performances from various groups, lots of Kingfisher,
          and plenty of Goan seafood.
        </div>
      </div>
    </div>
    <div class="timeline-entry timeline-right timeline-entry-end">
      <div class="timeline-entry-content">
        <div class="text-3xl text-india-orange font-kobe">After party</div>
        <div class="text-2xl text-india-orange font-kobe">10 PM - ?</div>
        <div class="text-lg pt-2"><b>Attire:</b> Stylin'</div>
        <div class="text-lg flex items-self-start">
          <b>Dance level:</b>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
        </div>
        <div class="text-lg pt-2">
          Goa has strict noise restrictions at night, so the DJ will move the
          music into the after party location.
        </div>
      </div>
    </div>

    <div class="flex items-center w-full justify-center">
      <div class="py-16 h-4 w-[400px] flex justify-evenly">
        <div class="bg-star h-[36px] w-[36px] bg-[size:36px]"></div>
        <div class="bg-star h-[36px] w-[36px] bg-[size:36px]"></div>
        <div class="bg-star h-[36px] w-[36px] bg-[size:36px]"></div>
      </div>
    </div>

    <!-- WEDNESDAY -->
    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-4xl font-bold font-kobe text-india-orange">
          Wednesday, Nov 26
        </div>
      </div>
    </div>
    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-3xl font-kobe text-india-orange">Breakfast</div>
        <div class="text-2xl font-kobe text-india-orange">9 AM</div>
        <div class="text-lg pt-2"><b>Attire:</b> Casual</div>
        <div class="text-lg"><b>Dance level:</b></div>
        <div class="text-lg pt-2">
          Breakfast will be served at the hotel. Come get some much needed
          nutrition.
        </div>
      </div>
    </div>
    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-3xl font-kobe text-india-orange">Mehndi & Zebop</div>
        <div class="text-2xl font-kobe text-india-orange">
          11:30 AM - 2:30 PM
        </div>
        <div class="text-lg pt-2"><b>Attire:</b> Colorful linen</div>
        <div class="text-lg flex items-self-start">
          <b>Dance level:</b>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
        </div>
        <div class="text-lg pt-2">
          We will be shuttling to and from Zebop for the Mehndi - and a
          delicious Goan lunch!
        </div>
        <div class="text-lg pt-2">
          The Mehndi is an event where the bride gets all illustrated up.
        </div>
      </div>
    </div>

    <div class="timeline-entry timeline-ri">
      <div class="timeline-entry-content">
        <div class="h-16"></div>
      </div>
    </div>

    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-3xl font-kobe text-india-orange">Bharat</div>
        <div class="text-2xl font-kobe text-india-orange">
          4:30 PM - 5:30 PM
        </div>
        <div class="text-lg pt-2"><b>Attire:</b> Formal</div>
        <div class="text-lg flex items-self-start">
          <b>Dance level:</b>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
        </div>
        <div class="text-lg pt-2">
          Traditionally, the Bharat is an event where the bride's family awaits
          the arrival of the groom and his entourage. This is a high energy
          event where we will be dancing as we make our way to the ceremony.
        </div>
      </div>
    </div>

    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-3xl font-kobe text-india-orange">Ceremony</div>
        <div class="text-2xl font-kobe text-india-orange">
          5:30 PM - 6:30 PM
        </div>
        <div class="text-lg pt-2"><b>Attire:</b> Formal</div>
        <div class="text-lg"><b>Dance level:</b></div>
      </div>
    </div>

    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-3xl font-kobe text-india-orange">Reception</div>
        <div class="text-2xl font-kobe text-india-orange">6:30 PM - 10 PM</div>
        <div class="text-lg pt-2"><b>Attire:</b> Formal</div>
        <div class="text-lg flex items-self-start">
          <b>Dance level:</b>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
        </div>
        <div class="text-lg pt-2">
          After the ceremony, we will serve dinner and open up the dance floor.
        </div>
      </div>
    </div>

    <div class="timeline-entry timeline-right timeline-entry-end">
      <div class="timeline-entry-content">
        <div class="text-3xl font-kobe text-india-orange">
          After party (pt. 2)
        </div>
        <div class="text-2xl font-kobe text-india-orange">10 PM - ?</div>
        <div class="text-lg pt-2"><b>Attire:</b> Stylin'</div>
        <div class="text-lg flex items-self-start">
          <b>Dance level:</b>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
          <div
            class="bg-contain bg-dancer w-[20px] h-[24px] bg-no-repeat bg-center"
          ></div>
        </div>
        <div class="text-lg pt-2">
          Let's close out the wedding with one last banger of a night.
        </div>
      </div>
    </div>

    <div class="flex items-center w-full justify-center">
      <div class="py-16 h-4 w-[400px] flex justify-evenly">
        <div class="bg-star h-[36px] w-[36px] bg-[size:36px]"></div>
        <div class="bg-star h-[36px] w-[36px] bg-[size:36px]"></div>
        <div class="bg-star h-[36px] w-[36px] bg-[size:36px]"></div>
      </div>
    </div>

    <!-- THURSDAY -->
    <div class="timeline-entry timeline-ri sm:timeline-left">
      <div class="timeline-entry-content">
        <div class="text-4xl font-bold font-kobe text-india-orange">
          Thursday, Nov 27
        </div>
      </div>
    </div>

    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-3xl font-kobe text-india-orange">Breakfast</div>
        <div class="text-2xl font-kobe text-india-orange">9 AM - 11 AM</div>
        <div class="text-lg pt-2"><b>Attire:</b> Casual</div>
        <div class="text-lg"><b>Dance level:</b></div>
        <div class="text-lg pt-2">Get some much needed nutrition</div>
      </div>
    </div>

    <div class="timeline-entry timeline-right">
      <div class="timeline-entry-content">
        <div class="text-3xl font-kobe text-india-orange">Checkout</div>
        <div class="text-2xl font-kobe text-india-orange">11:30 AM</div>
        <div class="text-xl pt-2">
          It's time to say goodbye. Thank you so much for coming.
        </div>
      </div>
    </div>
  </div>
</div>
