<!-- #### BEGIN PAGE CONTENT #### -->
<!-- ## SPACER -->
<div class="h-20"></div>
<!-- ### INVITE CARD SECTION -->
<!-- set a default spacer to render the card in -->
<div class="container font-kobe font-bold">
  <div class="flex">
    <div
      class="flex flex-col py-8 px-4 flex-grow bg-paper-texture items-center relative max-w-[500px] mx-auto"
    >
      <div
        class="absolute max-h-[600px] min-h-[550px] min-w-[350px] max-w-[400px] border-india-green bg-invite-card bg-cover border-4"
      ></div>
      <div
        class="z-10 flex flex-col px-8 max-h-[600px] min-h-[550px] min-w-[350px] max-w-[400px]"
      >
        <div class="self-start">
          <div class="text-india-orange text-5xl pt-16">MITCH & ALYA</div>
        </div>
        <div class="h-12"></div>
        <div class="self-end justify-self-end flex flex-col items-end">
          <div class="text-india-orange text-2xl">NOV 25 - 26, 2025</div>
          <div class="text-india-orange text-2xl">BELEZA BY THE BEACH</div>
          <div class="text-india-orange text-2xl">GOA, INDIA</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container font-kobe">
  <div class="flex">
    <div
      class="flex flex-col items-start py-8 px-12 hind-mysuru-regular max-w-[500px] mx-auto bg-paper-texture"
    >
      <div class="flex flex-col items-start">
        <div
          class="font-kobe text-india-orange text-4xl text-center font-bold india-shadow"
        >
          WHEN
        </div>
        <div class="py-4 text-left">
          <div class="text-india-black text-2xl">Tuesday, November 25 -</div>
          <div class="text-india-black text-2xl">Wednesday, November 26,</div>
          <div class="text-india-black text-2xl">2025</div>
        </div>
      </div>

      <div class="py-4">
        <div class="text-india-black text-xl">Hotel check-in: Nov 25, 2PM</div>
        <div class="text-india-black text-xl">
          Hotel check-out: Nov 27, 11AM
        </div>
      </div>

      <!-- <div class="py-4"></div> -->
      <div class="pt-12 pb-16 w-full flex items-center justify-center">
        <div class="">
          <a href="./events.html" class="btn-brutalist text-2xl px-4 py-1">
            VIEW EVENT SCHEDULE
          </a>
        </div>
      </div>

      <div class="flex flex-col items-end text-right">
        <div
          class="font-kobe text-india-orange india-shadow text-4xl font-bold"
        >
          WHERE
        </div>
        <div class="py-4">
          <div class="text-india-black text-2xl">Beleza by the Beach</div>
          <div class="text-india-black text-2xl">Goa, India</div>
        </div>
        <div class="py-4">
          <div class="text-india-black text-xl">
            Located 20 km south of the Goa Dabolim International Airport
          </div>
        </div>
      </div>

      <div class="py-8 h-4 w-full flex justify-evenly">
        <div
          class="bg-leaf-divider bg-contain w-[125px] h-[60px] bg-no-repeat"
        ></div>
      </div>
      <div class="flex flex-col items-center self-center py-4">
        <a
          class="btn-brutalist text-2xl px-4 py-1"
          target="_blank"
          href="https://withjoy.com/mitch-and-alya/rsvp"
          >RSVP</a
        >
        <div class="py-4"></div>
        <div class="text-india-black text-xl">Please RSVP by March 31</div>
        <div class="text-india-black text-xl">More details coming soon!</div>
      </div>
    </div>
  </div>
</div>
