@font-face {
  font-family: 'DIN Medium Regular.ttf';
  src: url('https://d28f3w0x9i80nq.cloudfront.net/restaurantFiles/acef0ba2-aaa2-4f87-a9e9-250f94af7831/DINMediumRegular.ttf');
}

@font-face {
  font-family: 'VCNudge-SemiBoldVeryItalic-Trial.otf';
  src: url('https://d28f3w0x9i80nq.cloudfront.net/restaurantFiles/acef0ba2-aaa2-4f87-a9e9-250f94af7831/VCNudge-SemiBoldVeryItalic-Trial.otf');
}

@font-face {
  font-family: 'EphemeraEgyptian-CondensedSemibold.otf';
  src: url('https://d28f3w0x9i80nq.cloudfront.net/restaurantFiles/acef0ba2-aaa2-4f87-a9e9-250f94af7831/EphemeraEgyptian-CondensedSemibold.otf');
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tile {
  background-image: var(--tile-url);
  opacity: 0.4;
  background-size: 400px 400px;
  height: 400px;
  width: 400px;
}

#background {
  background-repeat: repeat;
  background-size: 75px 75px;
  background-image: url('../images/white_on_blue_azulejo_noise.png');
  /* background-size: cover; */
}

.hind-mysuru-light {
  font-family: 'Hind Mysuru', serif;
  font-weight: 300;
  font-style: normal;
}

.hind-mysuru-regular {
  font-family: 'Hind Mysuru', serif;
  font-weight: 400;
  font-style: normal;
}

.hind-mysuru-medium {
  font-family: 'Hind Mysuru', serif;
  font-weight: 500;
  font-style: normal;
}

.hind-mysuru-semibold {
  font-family: 'Hind Mysuru', serif;
  font-weight: 600;
  font-style: normal;
}

.hind-mysuru-bold {
  font-family: 'Hind Mysuru', serif;
  font-weight: 700;
  font-style: normal;
}

.flex {
  display: flex;
  align-items: center;
}

.decorate::before {
  background: var(--bullet-point-url) no-repeat left center;
  background-size: contain;
  width: 33px;
  height: 33px;
  content: '';
  margin-right: 16px;
}

.decorate::after {
  background: var(--bullet-point-url) no-repeat left center;
  background-size: contain;
  width: 33px;
  height: 33px;
  content: '';
  margin-left: 16px;
}

ul {
  list-style: none; /* Remove default bullet points */
  padding-left: 20px; /* Add padding for alignment */
}
li {
  display: flex;
  align-items: center;
  margin: 10px 0;

  list-style: none;
}

li:before {
  display: block;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  margin-right: 10px;

  vertical-align: middle;

  background: var(--bullet-point-url) no-repeat left center;
  background-size: contain;

  content: '';
}

.egyptian {
  font-family: var(--tsw-header-font-family), sans-serif;
  color: #ff0606;
  text-shadow: 1px 1px 0 #ffffff, /* Black shadow for depth */ 2px 2px 0 #ffcc00; /* Thin red shadow for an outline */
}

.font-lg {
  font-size: large;
}

.font-xlg {
  font-size: x-large;
}

.font-xxlg {
  font-size: xx-large;
}

:root {
  --bullet-point-url: url('../images/bullet_point_2.png');
  --tile-url: url('../images/orange_on_green_azulejo.png');

  --black-hsl: 120, 16.46%, 15.49%;
  --gradient-color: hsla(var(--black-hsl), 1);

  --tsw-font-family: 'DIN Medium Regular.ttf';
  --tsw-header-font-family: 'EphemeraEgyptian-CondensedSemibold.otf';

  /* timeline */
  --india-red: rgb(209 0 0);
  --india-orange: rgb(230, 153, 42);
  --timeline-width: 2px;
  --timeline-dot-diameter: 16px;
  --timeline-dot-adjustment: calc(
    -1 * (var(--timeline-dot-diameter) + 1px) / 2
  );
}

/* TIMELINE */
